<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sopcode">
    <!--电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".baseactivity.test.TestCommonActivity" />
        <activity
            android:name=".baserecycleview.RecycleViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".uitest.UITestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".uitest.AddUiTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".recyclerheadtest.RecyclerTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".testretrofit.TestRetrofitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".testeventbus.TestEventBusActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".testeventbus.TestEventBus2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".testscreenchange.TestScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".authorization.PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".tesanimation.ActivityTestAnimation" />
        <activity android:name=".studyui.CustomizeActivity" />
        <activity android:name=".testdownfresh.DownFreshActivity" />
        <activity android:name=".popwindow.PopupWindow1" />
        <activity android:name=".testbuttcolor.TestActivityButton" />
        <activity android:name=".recyclerheadtest.RecyclerDifferentItemActivity" />
        <activity android:name=".testrxjava.RxjavaActivity" />
        <activity android:name=".lunbo.LunboActivity" />
        <activity android:name=".system_promise_summary.activity.SystemSummaryActivity" />
        <activity android:name=".utils.activity.TestUtilsActivity" />
    </application>

</manifest>